
.enoferta{
    background: lightgreen;
}
.masmenos:hover{
    cursor: pointer;
    background-color: aqua;
}
.disponible{
    background-color: green;
    border-radius: 0.375rem;
    padding: 5%;
    color: black;
}
