<h1>Todo Linea Puma</h1>
<div class="cartas">
    <div class="card" style="width:15rem;margin:10%;" *ngFor="let product of products "[ngClass]="{'enoferta':product.enoferta}">
        <img  class="card-img-top"  [src]="product.img" [alt]="product.Producto">
        <div class="card-body">
        <h5 class="card-title">{{product.Producto}} <span *ngIf="product.enoferta">(En Oferta)</span></h5>
        
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Talle: {{product.Talle}}</li>
        <li class="list-group-item">Color: {{product.color}}</li>
        <li class="list-group-item">Stock: <span class="btn btn-dark" *ngIf="product.stock==0">Sin stock</span><span class="disponible" *ngIf="product.stock!=0">Displonible</span></li>
        </ul>
        <div class="card-body">
        <app-input-number [(cantidad)]="product.cantidad" [max]="product.stock"  *ngIf="product.stock!=0" (maxChange)="maxChange($event)"></app-input-number>
        <button class="btn btn-primary" (click)="addfavorites(product)" *ngIf="product.stock!=0">Agregar a favoritos</button>
        </div>
    </div>
</div>
